<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
        <meta charset="UTF-8">
        <title>회원가입 및 인증 완료</title>
    </head>
    <body>
        <p>회원가입과 인증이 성공적으로 되었습니다.</p>
        <p>과외 선생님으로 활동한다면 진행된 이메일 인증은 반드시 skku.edu 메일이어야 하며 관리자의 승인이 되며 1:1 대화 신청은 승인이 완료되면 정상적으로 이용할 수 있습니다.</p>
        <p>홈에서 추가 인증을 진행하거나 관리자가 승인할때까지 기다리십시오.</p>
        <button class="btn btn-dark" onclick="location.href='/'"> 로그인 </button>
    </body>
</html>